*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(../imagenes/depositphotos_426620104-stock-illustration-abstract-background-dark-blue-presentation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 60px;
    margin: auto;
    margin-top: 120px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(600px); 
    backdrop-filter: blur(10px);
    background-color: rgba(15, 57, 99, 0.63);

}

.caja__trasera div{
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}


.caja__trasera div p,
.caja__trasera button{
    margin-top: 30px;
}

.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera div p{
    font-size: 16px;
    font-weight: 300;
}

.caja__trasera button{
    padding: 10px 40px;
    border: 3px solid #fff;
    font-size: 17px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover{
    background: #fff;
    color: rgb(15, 57, 99);
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 25px; /**/

    /*La transicion va despues del codigo JS*/
 transition: left 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /*esto hace q el contenedor de login y registro haga una transicion mas linda, mas ms pongo, mas tarda en hacer la transicion*/
}

.contenedor__login-register form{
    width: 100%;
    padding: 100px 30px; /*100 pixeles desde el texto al borde del cuadro blanco arriba y abajo, 30 a los costados*/
    background: rgb(255, 255, 255);
    position: absolute;
    border-radius: 25px;
}

.contenedor__login-register form h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(15, 57, 99);
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 30px;
    border: none;
    font-size: 15px;
    background: rgb(15, 57, 99);
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.formulario__login{
    opacity: 1;
    display: block; /*hace que el comportamiento del elemento sea como un bloque*/
}
.formulario__register{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}